<h1>BLACKJACK</h1>

<h5>Enter Name:</h5>

<form action="set_name" method="post">
	<input type="text" name="username"/>
  <h5>Enter the amount of money you have ($):</h5>
  <label><input type="number" name="money"/>
  <p> <input type="submit" class="btn"/></p>
</form>